body{
	background-color: #DCDCDC ; 
	font-family: arial,helvetica;
	font-size: 14px;
	word-spacing: 1.5;
}
#fieldset1{
	max-width: 500px;
	border: 1px solid blue ;
	margin: auto;
	padding: 5px;
}
#fieldset2{
	max-width: 500px;
	border: 1px dotted blue ;
	margin: auto;
	padding: 5px;
}
legend{
	font-family: tahoma;
	font-size: 16px;
	word-spacing: 1.5;
	font-weight: bold;
	color: blue;
	text-align: center;
}
#button1{
	
	background-color: #1100FF;
	padding: 5px;
	margin: 10px;
	
}
#button2{
	background-color: #FF0044;
	padding: 5px;
	margin: 10px;
	
}
sup{
	color: #E60505;
}